* {
    box-sizing: border-box;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu_bar; }
.item3 { grid-area: pictures1; }
.item4 { grid-area: pictures2; }
.item5 { grid-area: pictures3; }
.item6 { grid-area: pictures4; }
.item7 { grid-area: pictures5; }
.item8 { grid-area: pictures6; }
.item9 { grid-area: pictures7; }
.item10 { grid-area: pictures8; }
.item11 { grid-area: pictures9; }
.item12 { grid-area: pictures10; }
.item13 { grid-area: pictures11; }
.item14 { grid-area: info; }
.item15 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header'
      'menu_bar menu_bar menu_bar menu_bar'
      'pictures1 pictures2 pictures3 pictures4'
      'pictures5 pictures6 pictures7 pictures8'
      'pictures9 pictures10 pictures11 pictures11'
      'info info info info'
      'footer footer footer footer';
    grid-gap: 5px;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

.grid-container > div, form {
    background-color: black;
    text-align: left;
    color:white;
    font-family: 'Gentium Book Basic', serif;
    padding: 10px;
    border-radius: 5px;
}

.grid-container > .item1 {
    background-image: url("forest_silouhette.jpg");
    background-size: 100%;
    display: flex;
    text-align: center;
    color:black;
    font-family: 'Gentium Book Basic', serif;
    padding-top: 40px;
    padding-bottom: 250px;
}

body {
    background-color: black;
}

.item2 {
    overflow: hidden;
    background-color: black;
}

.item2 li {
    display: block;
}

.item2 a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
}

.item2 a:hover {
    background-color: rgb(250, 249, 248);
    zoom: 1.1;
    color: black;
    border-radius: 5px;
}

.grid-container > img {
    display: flex;
    flex-direction: row;
}

.item3 {
    width: 25%;
    height: auto;
    display: flex;
}

.item4 {
    width: 25%;
    height: auto;
    display: flex;
}

.item5 {
    width: 25%;
    height: auto;
    display: flex;
}

.item6 {
    width: 25%;
    height: auto;
    display: flex;
}

.item7 {
    width: 25%;
    height: auto;
    display: flex;
}

.item8 {
    width: 25%;
    height: auto;
    display: flex;
}

.item9 {
    width: 25%;
    height: auto;
    display: flex;
}

.item10 {
    width: 25%;
    height: auto;
    display: flex;
}

.item11 {
    width: 25%;
    height: auto;
    display: flex;
}

.item12 {
    width: 25%;
    height: auto;
    display: flex;
}

.item13 {
    width: 25%;
    height: auto;
    display: flex;
}