* {
    box-sizing: border-box;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu_bar; }
.item3 { grid-area: pictures; }
.item4 { grid-area: info; }
.item5 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header'
      'menu_bar menu_bar menu_bar menu_bar'
      'pictures pictures pictures pictures'
      'info info info info'
      'footer footer footer footer';
    grid-gap: 5px;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

.grid-container > div, form {
    background-color: black;
    text-align: left;
    color:white;
    font-family: 'Gentium Book Basic', serif;
    padding: 10px;
    border-radius: 5px;
}

.grid-container > .item1 {
    background-image: url("forest_silouhette.jpg");
    background-size: 100%;
    display: flex;
    text-align: center;
    color:black;
    font-family: 'Gentium Book Basic', serif;
    padding-top: 40px;
    padding-bottom: 250px;
}

body {
    background-color: black;
}

.item2 {
    overflow: hidden;
    background-color: black;
}

.item2 li {
    display: block;
}

.item2 a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
}

.item2 a:hover {
    background-color: rgb(250, 249, 248);
    zoom: 1.1;
    color: black;
    border-radius: 5px;
}

/*#cf {
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto;
}
  
#cf img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
  
@keyframes cf3FadeInOut {
    0% {
    opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
}
  
#cf img.top {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
}*/

.item3 > img {
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: 5px;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 100s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 100s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#image1 {
    background-image: url('alaska.jpg');  
}
#image2 {
    -webkit-animation-delay: -10s;
    background-image: url('yosemite.jpg');
}
#image3 {
    -webkit-animation-delay: -20s;
    background-image: url('arcadia.jpg');
}
#image4 {
    -webkit-animation-delay: -30s;
    background-image: url('yellowstone.gif');
}
#image5 {
    -webkit-animation-delay: -40s;
    background-image: url('arches.jpg');
}
#image6 {
    -webkit-animation-delay: -50s;
    background-image: url('teton.jpg');
}
#image7 {
    -webkit-animation-delay: -60s;
    background-image: url('canyonlands.jpg');
}
#image8 {
    -webkit-animation-delay: -70s;
    background-image: url('smokymtn.jpg');
}
#image9 {
    -webkit-animation-delay: -80s;
    background-image: url('everglades.jpg');
}
#image10 {
    -webkit-animation-delay: -90s;
    background-image: url('hawaii.jpg');
}
#image11 {
    -webkit-animation-delay: -100s;
    background-image: url('glacier.jpg');
}