* {
    box-sizing: border-box;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu_bar; }
.item3 { grid-area: login; }
.item4 { grid-area: info; }
.item5 { grid-area: footer; }

.grid-container {
    display: grid;
    width: 75%;
    margin: auto;
    grid-template-areas:
      'header header header header'
      'menu_bar menu_bar menu_bar menu_bar'
      'login login login login'
      'info info info info'
      'footer footer footer footer';
    grid-gap: 5px;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}
  
.grid-container > div, form {
    background-color: white;
    text-align: left;
    color:black;
    font-family: 'Gentium Book Basic', serif;
    padding: 10px;
    border-radius: 5px;
}

table {
    width:100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

.item5 ul {
    display: flex;
    flex-direction: row;
}
  
.item5 li {
    display: block;
}

.item5 img {
    width: 102.75px;
    height: 75px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: green;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button2 {
    display: inline-block;
    border-radius: 4px;
    background-color: red;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button3 {
    display: inline-block;
    border-radius: 4px;
    background-color:gray;
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
.button span, .button2 span, .button3 span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after, .button2 span:after, .button3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span, .button2:hover span, .button3:hover span {
    padding-right: 25px;
}
  
.button:hover  span:after, .button2:hover span:after, .button3:hover span:after {
    opacity: 1;
    right: 0;
}

